<!DOCTYPE html>
<html>
<head>
    <title>GET Request Button</title>
</head>
<body>
    <button id="getRequestButton">Send GET Request</button>
    <a href="phy-did-api/download/1"><button>Send GET Request</button></a>
    

   
</body>
</html>

<script>
    function getPdfFromAPI() {
        // Die URL deiner Flask-API, die das PDF generiert
        const apiUrl = 'http://phy-did-api.com/download/1';

        // Fetch-Anfrage an die API senden
        fetch(apiUrl)
            .then(response => {
            if (!response.ok) {
                throw new Error('Fehler beim Abrufen des PDFs');
            }
            return response.blob();
            })
            .then(pdfBlob => {
            // Das Blob in ein URL-Objekt umwandeln
            const pdfUrl = URL.createObjectURL(pdfBlob);

            // Ein iframe erstellen und das PDF darin anzeigen
            const iframe = document.createElement('iframe');
            iframe.src = pdfUrl;
            iframe.style.width = '100%';
            iframe.style.height = '500px'; // Passe die Größe nach Bedarf an

            // Füge das iframe zum Dokument hinzu
            document.body.appendChild(iframe);
            })
            .catch(error => {
            console.error('Fehler:', error);
            });
    }



  // Attach the sendGetRequest function to the button's click event
  const getRequestButton = document.getElementById('getRequestButton');
  getRequestButton.addEventListener('click', getPdfFromAPI);
</script>

