<!DOCTYPE html>
<html>
<head>
    <title>GET Request Button</title>
</head>
<body>
    <button id="getRequestButton">Send GET Request</button>
    <a href="localhost:5000/download/1"><button>Send GET Request</button></a>
    

   
</body>
</html>

<script>
  // Function to handle the GET request when the button is clicked
  function sendGetRequest() {
    var xhr = new XMLHttpRequest();
    xhr.open("GET", "http://localhost:5000/download/1");
    
    xhr.onreadystatechange = () => {
        // In local files, status is 0 upon success in Mozilla Firefox
        if (xhr.readyState === XMLHttpRequest.DONE) {
            const status = xhr.status;
            if (status === 0 || (status >= 200 && status < 400)) {
                // Create a new Blob object using the response data of the onload object
                var blob = new Blob([xhr.response], {type: 'image/pdf'});
                //Create a link element, hide it, direct it towards the blob, and then 'click' it programatically
                let a = document.createElement("a");
                a.style = "display: none";
                document.body.appendChild(a);
                //Create a DOMString representing the blob and point the link element towards it
                let url = window.URL.createObjectURL(blob);
                a.href = url;
                a.download = 'myFile.pdf';
                //programatically click the link to trigger the download
                a.click();
                //release the reference to the file by revoking the Object URL
                window.URL.revokeObjectURL(url);
            } else {
            // Oh no! There has been an error with the request!
            }
        }
    };

    xhr.send();
  }

  // Attach the sendGetRequest function to the button's click event
  const getRequestButton = document.getElementById('getRequestButton');
  getRequestButton.addEventListener('click', sendGetRequest);
</script>

